.popup__save-button {
  /* margin-top: 25px; */
  margin-bottom: 25px;
  width: 100%;
  min-height: 46px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.popup__save-button:hover {
  opacity: .8;
}

.popup__save-button:active {
  opacity: .9;
}

@media screen and (min-width: 1024px) {
  .popup__save-button {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
