.popup__input-error {
  display: block;
  margin: 5px 0 0;
  min-height: 30px;
  visibility: hidden;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #FF0000;
}

.popup__input-error:last-of-type {
  min-height: 43.34px;
}
