.popup__close-button {
  box-sizing: border-box;
  position: absolute;
  top: calc(-26px - 18px);
  right: 4px;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  background: no-repeat url('../../../images/button-cross.svg') center / contain;
}

.popup__close-button:hover {
  opacity: .6;
}

.popup__close-button:active {
  opacity: .4;
}

@media screen and (min-width: 1024px) {
  .popup__close-button {
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
  }
}
