.popup__save-button_disabled:disabled {
  color: #000;
  opacity: .2;
  background-color: #fff;
  border: 1px solid #000;
}

.popup__save-button_disabled:disabled:hover {
  opacity: .2;
  cursor: default;
}
