.card {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* gradient to prevent thin round white lines at the top round corners
  when the image is black */
  background: linear-gradient(to top, white 50%, black);
  border-radius: 10px;
  align-self: stretch;
  justify-self: stretch;
  font-size: 0;
}
