.login__heading {
  margin: 0 0 40px 0;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

@media screen and (min-width: 640px) {
  .login__heading {
    margin: 0 0 50px 0;
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}


@media screen and (min-width: 1024px) {
  .login__heading {
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}
