.header__burger {
  justify-self: end;
  width: 30px;
  height: 30px;
  grid-area: button;
  margin-right: 27px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease;    
}

.header__burger:hover {
  opacity: .6;   
}

.header__burger:active {
  outline: none;
}

.header__burger:focus{
  border-color:transparent!important;
  outline:none;
}


@media screen and (min-width: 640px) {
  .header__burger {
    display: none;   
  }
    
}