.profile__add-button {
  width: 282px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0);
  background: no-repeat url('../../../images/button-cross.svg') center / 16px 16px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: .6;
}

.profile__add-button:active {
  opacity: .4;
}

@media screen and (min-width: 1024px) {
  .profile__add-button {
    width: 150px;
  }
}
