.header_type_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 83px;
  grid-template-areas:
  'main main'
  'logo button';
  align-items: center;
  padding-bottom: 0;
}