.header {
  position: relative;
  /* min-height: 56px; */
  padding-bottom: 28px;
}

@media screen and (min-width: 640px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* bottom header line */
.header::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #545454;
  opacity: .7;
}

@media screen and (min-width: 1024px) {
  .header {
    min-height: 74px;
  }
}
